.header-container{
    display: flex;
    justify-content: space-between;
    padding: 3rem;
    background-color: var(--primary-color);
    color: var(--text-color-light);
}

.title{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 3rem;
}

.header-topics{
    display: flex;
    gap: 4rem;
}

.topics-button{
    border-radius: 1rem;
    font-size: 1.2rem;
    height: 7vh;
    width: 10vw;
    color: var(--text-color-light);
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: 0.5s;
}

.topics-button:hover{
    background-color: var(--third-color);
    transform: translateY(-10%);
}

.menu-container{
    display: none;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    cursor: pointer;
}

@media (max-width:900px){
    .header-container{
        padding: 2rem;
    }
    .title{
        font-size: 2rem;
    }
}



/* Mobile */
@media (max-width:550px){
    .header-container{
        padding: 0.3rem;
        justify-content: center;
        justify-content: space-between;
    }

    .title{
        height: 5vh;
        width: 70vw;
        font-size: 0.5rem;
        order: 1;
        transform: translateX(-6rem);
    }

    .header-topics{
        display: none;
    }

    .menu-container{
        display: flex;
        justify-content: flex-start;
    }

    .mobile-menu{
        display: none;
    }
}

@media (max-width: 490px){
    .title{
        font-size: 0.5rem;
        transform: translateX(-1rem);
    }
}


